.program-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    margin-top: 150px;
}

.program-images {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.img-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 350px;
    border-radius: 20px;
}

.img-caption {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 500ms ease-in-out, opacity 450ms ease-in-out;
}

.img-caption:hover{
    transform: scale(1.1);
    opacity: 0.7;
}

.program-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    position: relative;
    top: -800px;
    opacity: 0;
    transition: opacity 300ms ease-in-out, top 1.5s ease-in-out;
}

.img-container:hover .program-text {
    opacity: 1;
    top: -200px;
}

.program-text p{
    color: #fff;
}

.program-text img{
    width: 70px;
    object-fit: cover;
}

@media screen and (max-width: 900px){
    .program-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    
}