.contact {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.message-container .data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.message-container .data p{
    width: 550px;
}

.professional-data {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.data-shape {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.data-shape img{
    width: 30px;
    object-fit: cover;
}

.message-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

input,textarea {
    outline: none;
    border-color: transparent;
    width: 500px;
    padding: 10px;
    font-size: 19px;
    background-color: rgba(221, 160, 221, 0.222);
}

.message-container button {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-self: center;
    border: 1px solid rgb(11, 11, 195);
    background-color: rgb(11, 11, 195);
    padding: 15px;
    width: auto;
    border-radius: 30px;
    color: #fff;
}

.message-container button img{
    width: 30px;
    object-fit: cover;
}

@media screen and (max-width : 900px){
    .message-container{
        flex-direction: column;
        align-items: center;
    }

    input,textarea{
        width: auto;
    }

    .message-container .data{
        flex-direction: column;
        align-items: center;
    }

    .message-container .data p{
        width: auto;
    }
    
}