nav {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 30px 180px;
    color: #fff;
    z-index: 100;
}

.dark-nav {
    background-color: #333;
}

nav img {
    width: 200px;
    object-fit: cover;
}


nav img.menu {
    display: none;
    width: 30px;
    object-fit: cover;
}

nav ul.nav-links {
    display: flex;
    gap: 10px;
    list-style-type: none;
    align-items: center;
}

nav li {
    margin-right: 20px;
    display: inline-block;
}

.btn {
    border: 1px solid #fff;
    width: 100px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    color: rgb(6, 6, 23);
}

@media screen and (max-width: 768px) {
    nav {
        padding: 30px;
    }

    nav ul.nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 10px;
    }

    nav ul.nav-links.active {
        display: flex;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav img.menu {
        display: block;
        cursor: pointer;
    }
}